details{
    border: 2px solid red;
    background-color: #000;
    color: #fff;
    list-style: none;
    position: fixed;
    width: 100%;
}
summary{
    list-style: none;

}
details:hover{
    cursor: pointer;
}